@using Arya.TaskRoute.WebApplication.Models
<div id="main-nav">
    <nav style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
        <ul>
            @foreach (var item in Items.Where(i => !i.OnBottom))
            {
                <li>
                    <NavLink href="@item.Url" Match="@item.Match">
                        @item.Title
                    </NavLink>
                </li>
            }
        </ul>
        <ul id="bottom-nav">
            @foreach (var item in Items.Where(i => i.OnBottom))
            {
                <li>
                    <NavLink href="@item.Url" Match="@item.Match">
                        @item.Title
                    </NavLink>
                </li>
            }
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public List<AppNavModel> Items { get; set; } = new List<AppNavModel>();
}